/* Font Size */
$default-font-size : 16px;
/* Font Family */
$default-font-family : 'Roboto', sans-serif;
$mono-font-family : 'Roboto Mono', monospace;
/* Colors */
$neutral : #EFEFEF;
$carbon : #A9A9A9;
$sky : #CAEBF2;
$watermelon : #FF3B3F;
$white : #FFF;
$black : #000;
$gainsboro : #DCDCDC;


