.overused-words {
  @extend %content-menu-positioning;
  div {
    height: 100%;
    .add-words {
      border: 1px solid red;
      position: relative;
      input {
        @extend %absolute-vh-positioning;

      }
    }

    .list {
      border: 1px solid red;
    }
  }
}