.questions {
  overflow-y : auto;
  left : 200%;
  padding : 0 calcRem(40px);
  border-top : 1px solid $sky;
  text-align : center;
  h3 {
    display : inline-block;
    padding : calcRem(10px);
    border-bottom : calcRem(2px) solid $sky;
    text-transform : uppercase;
  }
  ul {
    padding : calcRem(10px);
    text-align : left;
  }
}
