.string-data {
  border-top: calculateRem(1px) solid $sky;
  overflow : hidden;
  width : 100%;
  text-align : center;
  position: absolute;
  height: 5%;
  bottom: 0;
  @media only screen and (orientation: landscape) and (max-height: 321px) {
    height: 10%;
  }
  p {
    display : inline-block;
    margin : 0;
    padding : 0 calculateRem(8px) 0 calculateRem(8px);
    font-size : calculateRem(14px);
  }
}
