.text-input {
  left : 0;
  #text-area, #highlighted-repeated-words, #highlighted-overused-words {
    width : 100%;
    height : 100%;
    padding : calcRem(10px);
    font-family : $default-font-family;
    font-size : calcRem(20px);
    white-space : pre-wrap;
    letter-spacing : calcRem(1px);
    word-wrap : break-word;
  }

  #text-area {
    z-index : 1;
    border : none;
    border-top : 1px solid $sky;
    background-color : transparent;
    resize : none;
  }

  #highlighted-repeated-words {
    position : absolute;
    z-index : -2;
    top : 0;
    left : 0;
    color : transparent;
    background-color : $neutral;
    mark {
      color : transparent;
      background-color : $sky;
    }
  }

  #highlighted-overused-words {
    position : absolute;
    z-index : -1;
    top : 0;
    left : 0;
    color : transparent;
    mark {
      color : transparent;
      background-color : orange;
    }
  }
}
