.words-list {
  float: left;
  width: 50%;
  height: 30%;
  border-top: 1px solid $carbon;
  @media only screen and (min-width: 768px) {
    border-top: none;
  }

  h3 {
    padding: calcRem(5px);
    color: $black;
    background: $sky;
    font-size: calcRem(16px);
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid $sky;
    @media only screen and (min-width: 768px) {
      height: 8%;
     // line-height: 8%;
   //   padding: calcRem(10px);
    }
    @media only screen and (orientation: landscape) {
      //  padding: calcRem(10px);
    }
  }
  ul {
    display: block;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    li {
      padding: calcRem(5px) calcRem(8px) calcRem(5px) calcRem(8px);
      font-family: $mono-font-family;
      word-wrap: break-word;
      cursor: pointer;
      user-select: none;
    }
  }
}
