footer {
  position : relative;
  height : 10%;
  text-align: center;
  @media only screen and (max-width: 600px), screen and (max-height: 468px) and (orientation: landscape) {
    min-height: 6rem;
  }
  .social-media {
    text-align: center;
    a {
      font-size: calculateRem(42px);
      color: $carbon;
      cursor: pointer;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}
