footer {
  position : relative;
  height : 10%;
  min-height : calcRem(80px);
  border-top : calcRem(3px) solid $carbon;
  text-align : center;
  .social-media {
    @include center(true, true);
    a {
      color : $carbon;
      font-size : calcRem(42px);
      cursor : pointer;
    }
    a:hover {
      color: $watermelon;
    }
  }

  p {
    @include center(true, false);
    bottom : calcRem(2px);
    margin: 0;
    font-size : calcRem(10px);
  }
}
