header {
  height : 10%;
  font-family : $mono-font-family;
  @media only screen and (min-width: 600px) {
    height : 20%;
  }
  h1 {
    margin : 0;
    padding-top : calculateRem(5px);
    text-transform : uppercase;
  }
  p {
    text-align : center;
    @media only screen and (min-width: 468px) and (max-height: 468px) {
      display: none;
    }
  }
}
