header {
  height: 10%;
  min-height: calcRem(100px);
  border-bottom: calcRem(3px) solid $carbon;
  font-family: $mono-font-family;
  text-align: center;
  @media only screen and (min-width: 600px) and (min-height: 600px) {
    height: 17%;
  }

  h1 {
    text-shadow: 1px 1px 1px $watermelon;
    margin: 0;
    padding-top: calcRem(5px);
    text-transform: uppercase;
  }
}
