main {
  overflow: hidden;
  position: relative;
  height: 80%;
  // necessary on small device with landscape mode
  min-height: calcRem(420px);
  @media only screen and (min-width: 600px) and (min-height: 600px) {
    height: 73%;
  }
}
