// Helpers
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';
@import 'helpers/functions';
// Layout
@import 'layout/grid';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
// Components
@import 'components/add-overused-words';
@import 'components/add-text';
@import 'components/instruction';
@import 'components/editor';
@import 'components/side-content';
@import 'components/string-data';

html {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  font-size: 100%;
  @media only screen and (max-width: 320px) {
    font-size: 8px;
  }

  @media only screen and (min-width: 321px) {
    font-size: 10px;
  }

  @media only screen and (min-width: 468px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media only screen and (min-width: 1224px) {
    font-size: 16px;
  }

  @media only screen and (min-width: 1824px) {
    font-size: 18px;
  }

  @media only screen and (orientation: landscape) and (max-height: 468px) {
    font-size: 12px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('../assets/background.png') repeat;
  font-family: $default-font-family;
  h1, h2, h3, h4 {
    text-align: center;
  }

  h4 {
    display: inline-block;
    margin: calculateRem(2px) 0;
    border-bottom: 1px solid $sky;
  }
}
