// Helpers
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';
// Layout
@import 'layout/grid';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
// Components
@import 'components/add-overused-words';
@import 'components/content';
@import 'components/instruction';
@import 'components/editor';
@import 'components/editor-nav';
@import 'components/repeated-words';
@import 'components/overused-words';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: $default-font-size;
}